{{define "title"}}To-Do List Demo{{end}}

{{define "main"}}
    <div class="todo-app">
        <h2>To-Do List Demo <img src="../../static/img/notes.png"></h2>

        <form hx-post="/task/create"
              hx-target="#list-container"
              hx-swap="afterbegin"
              hx-trigger="submit">
            <div class="row">
                <input type="text" id="input-task" name="content" placeholder="Add your task" required>
                <button type="submit">Add</button>
            </div>
        </form>

        <ul id="list-container">
            {{range .Tasks}}
                <li class="{{if .Completed}}checked{{end}}" id="task-{{.ID}}"
                    hx-post="/task/toggle/{{.ID}}"
                    hx-target="#task-{{.ID}}"
                    hx-swap="outerHTML"
                    hx-trigger="click">
                    {{.Content}}
                    <span hx-post="/task/delete/{{.ID}}"
                          hx-target="#task-{{.ID}}"
                          hx-swap="outerHTML"
                          class="delete-btn">×</span>
                </li>
            {{end}}
        </ul>
    </div>
{{end}}
