{{define "task"}}
    <li class="{{if .Task.Completed}}checked{{end}}" id="task-{{.Task.ID}}"
        hx-post="/task/toggle/{{.Task.ID}}"
        hx-target="#task-{{.Task.ID}}"
        hx-swap="outerHTML"
        hx-trigger="click">
        {{.Task.Content}}
        <span hx-post="/task/delete/{{.Task.ID}}"
              hx-target="#task-{{.Task.ID}}"
              hx-swap="outerHTML"
              hx-trigger="click consume"
              class="delete-btn">×</span>
    </li>
{{end}}
