{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel='shortcut icon' href='../static/img/favicon.png' type='image/x-icon'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
    <div class="container">
        {{template "main" .}}
    </div>
    </body>
    </html>
{{end}}
